@tailwind base;
@tailwind components;
@tailwind utilities;


.active{
    animation: leaves 200ms ease-in-out;
}

@keyframes leaves {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}




